{
  "parser": "babel-eslint",
  "root": true,
  "extends": [
    "@asd14/eslint-config/targets/html",
  ],

  "globals": {
    require: true,
    fixture: true,
    test: true
  },

  "rules": {
    // disable until upstream issues fixed
    "jsdoc/check-line-alignment": "off",

    "unicorn/filename-case": "off",
    "new-cap": "off"
  },

  "settings": {
    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5,
    },
  }
}
